.quote-card {
  $quote-card-bgc: var(--white);
  $sentence-text-color: var(--black);
  $author-text-color: var(--light-grey);

  $border-color: var(--black);
  $solid-border: 3px solid $border-color;

  $box-shadow-color: var(--shadow-color);
  $box-shadow: 10px 10px 20px $box-shadow-color;

  $spacing: 15px;
  $quote-sign-size: 200px;

  $sentence-font: var(--primary-font);
  $author-font: var(--secondary-font);

  position: relative;
  width: 95%;
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: $solid-border;
  background-color: $quote-card-bgc;
  box-shadow: $box-shadow;

  animation: stage-in 1.5s 1 both;

  @media (min-width: 768px) {
    width: 700px;
    height: 395px;
  }

  @media screen and (min-width: 1024px) {
    border-width: 5px;
  }

  @keyframes stage-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__quote-sign {
    width: $quote-sign-size;
    height: $quote-sign-size;
    opacity: 0.05;

    @media screen and (min-width: 1024px) {
      width: $quote-sign-size * 1.5;
      height: $quote-sign-size * 1.5;
    }
  }

  &__body {
    position: absolute;
    z-index: 1;
    padding: $spacing;
  }

  &__sentence {
    margin-bottom: $spacing;

    font-family: $sentence-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: $sentence-text-color;

    @media screen and (min-width: 360px) {
      font-size: 20px;
    }

    @media screen and (min-width: 568px) {
      font-size: 24px;
    }

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }

    @media screen and (max-width: 823px) and (max-height: 414px) {
      font-size: 22px;
    }
  }

  &__author-name {
    font-family: $author-font;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: $author-text-color;

    @media (min-width: 360px) {
      font-size: 18px;
    }

    @media screen and (min-width: 568px) {
      font-size: 20px;
    }

    @media (min-width: 768px) {
      font-size: 28px;
    }

    @media screen and (max-width: 823px) and (max-height: 411px) {
      font-size: 18px;
    }
  }

  &__triangle {
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translate(-50%, 50%) rotate(45deg);
    z-index: -1;

    width: 50px;
    height: 50px;

    border-bottom: $solid-border;
    border-right: $solid-border;
    background-color: $quote-card-bgc;
    box-shadow: -10px -10px 0 7px $quote-card-bgc, $box-shadow;

    @media screen and (min-width: 1024px) {
      bottom: -5px;
      border-bottom-width: 5px;
      border-right-width: 5px;
      box-shadow: -10px -10px 0 5px $quote-card-bgc;
    }
  }
}
