$quote-holder-bgc: var(--orange);
$btn-bgc: var(--blue);
$btn-hvr-bgc: var(--light-blue);
$btn-text-color: var(--white);

$font-family: var(--secondary-font);

.quote-holder {
  height: 90vh;
  background-color: $quote-holder-bgc;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__loading-info,
  &__error-msg {
    font-family: $font-family;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 36px;
    }

    @media (min-width: 1024px) {
      font-size: 44px;
    }
  }

  &__fetch-btn {
    width: 200px;

    border: none;
    outline: none;
    background-color: $btn-bgc;

    margin-top: 50px;

    font-family: $font-family;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
    color: $btn-text-color;

    cursor: pointer;

    transition: background-color 250ms;

    &:hover {
      background-color: $btn-hvr-bgc;
    }

    @media (min-width: 640px) {
      font-size: 18px;
    }

    @media (min-width: 1024px) {
      margin-top: 75px;
      font-size: 22px;
    }
  }
}
