// Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global variables
:root {
  --primary-font: 'Averia Gruesa Libre', cursive;
  --secondary-font: 'Oswald', sans-serif;

  --white: #f4f4f4;

  --black: #1e1e1e;
  --grey: #282f39;
  --light-grey: #877f7f;
  --shadow-color: rgba(27, 27, 27, 0.25);

  --orange: #f5c73d;
  --light-orange: #fce49d;

  --blue: #0173fe;
  --light-blue: #3891fd;

  --red: #f53d3d;
}

body {
  background-color: var(--black);
}
